@media (max-width: 768px) {

  header {
    font-size: 1.3rem;
    height: 6%;
  }

  header>nav {
    display: flex;
    width: 95%;
    justify-content: center;
  }

  main {
    margin-top: 10rem;
    margin-left: 10rem;
  }

  #device {
    width: 40rem;
  }

  #about {
    width: 40rem;
  }

  #carrossel-container {
    width: 35rem;
  }

  #icons>div>a {
    font-size: 1.5rem;
  }

  #icons>div {
    margin-right: 6rem;
  }
}