@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inria Serif';
  font-size: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

main {
  margin-top: 6rem;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#avatar {
  width: 15rem;
  margin: 3rem;
}

#device {
  width: 60rem;
  margin: 3rem;
}

#about {
  background-color: #6E07F3;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  border-radius: 5rem;
}

#carrer {
  color: black;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  gap: 2rem;
}

#carrer>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

#carrer>p>span {
  text-align: center;
  padding: 1rem;
}

#carrer>p>span:nth-child(1) {
  font-size: 3rem;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

#carrossel-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: white;
  justify-content: center;
  height: 30rem;
  width: 74rem;
  border-radius: 1rem;
}

#thayna-content {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.carrossel-item>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: black;
}

.carrossel-seta {
  width: 3rem;
  cursor: pointer;
}

.carrossel-item>a>img {
  width: 34rem;

}

.carrossel {
  display: flex;
  gap: 2rem;
  width: 40rem;
  overflow-x: scroll;
  align-items: center;
}

.carrossel::-webkit-scrollbar{
  width: 0;
}

#curriculo{
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
}
#curriculo>p{
  font-weight: 999;
  
}

#curriculo>img{
  width: 3rem;
}

#curriculo>img:hover{
  scale: 1.1;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

header>nav{
  width: 80%;
  border-radius: 6rem;
  
  background-color: #6E07F3;
}
header>nav>ul{
  display: flex;
  gap: 3rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

header>nav>ul>li>a{
  text-decoration: none;
  color: #fff;
}

header>nav>ul>li>a:hover{
  color: #FFC0CB;
}

#contato{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#contato-title{
  display: flex;
  gap: 2rem;
}

#icons> div > a > img{
  width: 2rem;
}

#icons > div > a {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 14rem;
  text-decoration: none;
  color: #ffff;
}

#icons{
  display: flex;
  justify-content: center;
  width: 100%;  
  }

#icons >div{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  
}
